<a href="https://colab.research.google.com/github/2303A510j7/23CSBTB30/blob/main/Assignment1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
data=pd.read_csv("/content/AIML.csv")
print(data)

     SID        Name    Course   ContactNO
0   2113    Sharanya       CSE  7733264578
1   2286    sathvika       EEE  8889501236
2   1123     sravani    ECE-DS  7723451289
3   1330    akshitha       CSE  6302265123
4   2112     manohar       CSE  6302267674
5   1035      moksha       CSE  8899663316
6   1043   bhavishya        IT  7981929483
7   2030      Nihith    CSE-DS  7382861808
8   2286      Rohith       ECE  7780608719
9   1023       Sneha       CSE  6308868169
10  2259  navya sree     CIVIL  9988234167
11  2295      Nithya   Biotech  7382841356
12  1234     Goutham    CSE-CS  8899761452
13  1145     abhiram  CSE-AIDS  7766558811
14  2238     shivani       CSE  9949123143
15  2256        ajay  ECE-AIML  6301123456
16  2367      akshay  CSE-AIML  6789123456
17  2134    sushanth      MECH  9876543210
18  2289       sohel       CSE  8976543091
19  2109     rithvik   Biotech  7754321890

In [2]:
import pandas as pd
data=pd.read_csv("/content/heart.csv")
print(data)

      age  sex  cp  trestbps  chol  fbs  restecg  thalach  exang  oldpeak  \
0      52    1   0       125   212    0        1      168      0      1.0
1      53    1   0       140   203    1        0      155      1      3.1
2      70    1   0       145   174    0        1      125      1      2.6
3      61    1   0       148   203    0        1      161      0      0.0
4      62    0   0       138   294    1        1      106      0      1.9
...   ...  ...  ..       ...   ...  ...      ...      ...    ...      ...
1020   59    1   1       140   221    0        1      164      1      0.0
1021   60    1   0       125   258    0        0      141      1      2.8
1022   47    1   0       110   275    0        0      118      1      1.0
1023   50    0   0       110   254    0        0      159      0      0.0
1024   54    1   0       120   188    0        1      113      0      1.4

      slope  ca  thal  target
0         2   2     3       0
1         0   0     3       0
2         0   0     3       0
3         2   1     3       0
4         1   3     2       0
...     ...  ..   ...     ...
1020      2   0     2       1
1021      1   1     3       0
1022      1   1     2       0
1023      2   0     2       1
1024      1   1     3       0

[1025 rows x 14 columns]

In [3]:
import pandas as pd
data=pd.read_csv("/content/games_dataset.csv")
print(data)

                                    Game Name       Genre         Platform  \
0                   Sekiro: Shadows Die Twice      Sports  Nintendo Switch
1                                     Control      Puzzle  Nintendo Switch
2                                    Among Us    Strategy  Nintendo Switch
3                Call of Duty: Modern Warfare     Stealth      PlayStation
4                           League of Legends  Simulation               PC
...                                       ...         ...              ...
4995  The Legend of Zelda: Breath of the Wild      Sports               PC
4996                Assassin's Creed Valhalla     Stealth           Mobile
4997             Fall Guys: Ultimate Knockout      Sports           Mobile
4998                            Borderlands 3  Platformer             Xbox
4999         Counter-Strike: Global Offensive      Action      PlayStation

      Release Year  User Rating
0             2014     9.654719
1             2000     3.457386
2             2007     5.367622
3             2005     1.240325
4             2021     3.535476
...            ...          ...
4995          2013     6.352838
4996          2020     1.852730
4997          2021     5.268067
4998          2018     4.558510
4999          2022     3.443231

[5000 rows x 5 columns]